*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	transition: all 0.3s ease-out;
}
body{
	font-family: 'Poppins', sans-serif;
}
.back-menu{
	    background: rgba(107, 185, 193, 0.99);
}
.logo>ul>li>a{
	    color: #0000fe;
}
.col{
	color: #676767;
}
.col-1{
	color: #00B092;
}
.margin-top-bottom-10{
	margin:10px 0px;
}
.read{
	background: #00b092;
    padding: 10px 20px;
    color: white;
}
.circle-img{
	 clip-path: circle(37% at 47% 50%);
}
.bg-footer{
	background-color: #6cb9c1;
	padding: 70px 0 50px;
}
.border-line{
	border-bottom-color:white;
	border-bottom:1px solid white;
}
.border-blue{
	border-bottom: 0.2rem solid #0ab096;
    width: 15%;
}
.icon-img{
	position: relative;
       top: 5px;
}
.back-title{
	background-color: #eee;
    border: 1px solid #e9e9e9;
    padding: 3px 12px;
    color: #00b092;
}
.card1 {
  display: block;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  
  .go-corner {
    opacity: 0.7;
  }

  &:hover {
    border: 1px solid #00838d;
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
  }
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.card1:hover {
      transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgb(38 38 38 / 20%);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

} 
.icons{
	background-color: #00b092;
    border: 1px solid #e9e9e9;
    color: white;
    padding: 6px;
}
.sticky{
	position: sticky;
    top: 0;
    width: 100%;
	z-index: 99;
}
.show-mega-drop-down {
	position: absolute;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
    line-height: 50px;
    z-index: 99;
    left: 416px;
    color: #5a5a5a;
	top: 95px;
	visibility:hidden;
}
hr{
	border-bottom: 1px gray;
    border-color: #00000012;
}
.show-mega-drop-down a{
	padding:0px 20px;
}
.mega-drop-down:hover .show-mega-drop-down{
	visibility:visible;
	opacity:1;
}
.scroll{
	 overflow-y: scroll;
	 height: 400px;
}
.mega-drop-down:hover .show-mega-drop-down{
	visibility:visible;
}
.height{
	height:500px;
}
/* Media - Query */


@media(max-width:1024px){
	.nav .margin-left-right{
		    margin: 0px 10px;
	}
	.nav .show-mega-drop-down{
		top: 66px;
		    left: 155px;
	}
}
@media(max-width:768px){
	.nav .colmd-30{
		width:100%;
	}
	.nav .colmd-70{
		width:100%;
	}
	header .le{
		display:block;
	}
	.card-bar .row-flex{
		display:block;
	}
	.card-bar .col-flex{
		width:50%;
		float:left;
		
	}
	footer .row-flex{
		display:block;
	}
	.nav .show-mega-drop-down{
		top: 190px;
		    left: 40px;
	}
}
@media(max-width:425px){
	header .colmd-60{
		display:none;
	}
	header .colmd-40{
		width:100%;
	}
	.nav .display-inline-block{
		display:block;
		margin: 20px 10px;
	}
	.nav .logo{
		background:white;
		margin: 0 auto;
		width: 90%;
		padding: 5px 5px;
	}
	.nav .position-absolute{
		    position: revert;
	}
	.nav .show-mega-drop-down{
	 box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    background-color: #fff; 
    line-height: 50px;
    z-index: 99;
    left: 416px;
    color: #5a5a5a;
    top: 95px;
	display: none;
	}
	.mega-drop-down:hover .show-mega-drop-down{
		dsiplay:block;
	}
	.banner .img{
		max-width:100%;
		height:auto;
	}
	.nav-2 .colmd-40{
		width:100%;
	}
	.sticky{
		    position: revert;
	}
}

sdfsu

sdugfsgf